<p id="notice"><%= notice %></p>

<br>
<% content_for :header do %>
<section class = "hero is-warning">
    <div class = "hero-body">
        <div class = "container">
            <h1 class="title"><b>Products on Sale...</b></h1>
        </div>
    </div>
</section>
<% end %>
<br>


<div class="products">
  <% @products.each do |product| %>
    <% if !product.sold && !product.requested %>

    <div class="product">
      <div class="product-thumb" position="relative">
      <%= link_to image_tag(product.image_url(:thumb), :style => "float:right;border 1px solid #ffffff;max-width:150px;max-height:150px;", :crop => "fill", :transformation => [
        {:crop => "scale"},
        {:effect => "outline:100", :color => "black"}
      ]), product %>
      </div>


    <div class="details">

      <h3 class="title"><%= link_to product.title, product %></h3>

      <% if product.condition? %>
        <div class="condition">
          Condition: <span class="tag is-dark"><%= product.condition %></span>
        </div>
      <%end%>

      <p>Sold by <b><%= product.user.name %></b></p>

      <p>Expected Cost to sell: <b>
      <span class="cost tag"><%= sprintf("₹%9d", product.cost) %></span>
      </b></p>

      <% if product_author(product) %>
      <br>
      <%= link_to 'Edit', edit_product_path(product), class: "button is-small" %>
      <%= link_to 'Delete', product, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
      <% end %>

      <% if current_user != nil && !product_author(product) %>
        <br>
      
        <%= link_to 'Request', update_requested_by_product_path(product), class: "button is-small", method: :patch %>
      <% end %>
    <hr>
    </div>
  </div>

  <% elsif product.sold && current_user != nil && current_user.id == product.user_id %>

    <div class="product">
    <div class="product-thumb" position="relative">
    <%= link_to image_tag(product.image_url(:thumb), :style => "float:right;vertical-align:middle; border 1px solid #ffffff; max-width:150px; max-height:150px;", :crop => "fill", :transformation => [
      {:crop => "scale"},
      {:effect => "outline:100", :color => "black"}
    ]), product %>
    </div>

    <% if product.sold %>
        <div class="details-container" style="background-color:lightgrey">

        <h3 class="title"><%= link_to product.title, product %>
        
        <span class="tag is-large is-danger float-right">
          SOLD
        </span>
    </h3>
    <% else %>
    <div class="details-container">

      <h3 class="title"><%= link_to product.title, product %>
      </h3>
      <% end %>
      

      <% if product.condition? %>
        <div class="condition">
          Condition: <span class="tag is-dark"><%= product.condition %></span>
        </div>
      <% end %>

      <p>Sold by <b><%= product.user.name %></b></p>

      <p>Expected Cost to sell: <b>
      <span class="price tag"><%= sprintf("₹%9d", product.cost) %></span>
      </b></p>
      <% if product.is_requested? %>
      <p>
      requested
      </p>
      <% end %>

      <% if product_author(product) %>
        <br>
        <%= link_to 'Edit', edit_product_path(product), class: "button is-small" %>
        <%= link_to 'Delete', product, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
        
      <% end %>
      <br>
      <hr>

    </div>
  </div>
  

  <% elsif product.requested && current_user != nil && current_user.id == product.user_id %>

    <div class="product">
    <div class="product-thumb" position="relative">
    <%= link_to image_tag(product.image_url(:thumb), :style => "float:right;vertical-align:middle; border 1px solid #ffffff; max-width:150px; max-height:150px;", :crop => "fill", :transformation => [
      {:crop => "scale"},
      {:effect => "outline:100", :color => "black"}
    ]), product %>
    </div>
    
    <% if product.requested && current_user != nil %>
        <div class="details-container" style="background-color:lightblue">

        <h3 class="title"><%= link_to product.title, product %>
        <span class="tag is-medium is-success float-right">
          Requested by <%= product.requested_by %>
        </span>
        </h3>

    <% else %>
    <div class="details-container">

      <h3 class="title"><%= link_to product.title, product %>
      </h3>
      <% end %>
      

      <% if product.condition? %>
        <div class="condition">
          <p>Condition: <span class="tag is-dark"><%= product.condition %></span>
        </p>
        </div>
      <% end %>

      <p>Sold by <b><%= product.user.name %></b></p>

      <p>Expected Cost to sell: <b>
      <span class="price tag"><%= sprintf("₹%9d", product.cost) %></span>
      </b></p>

      <% if product_author(product) %>
        <br>
        <%= link_to 'Edit', edit_product_path(product), class: "button is-small" %>
        <%= link_to 'Delete', product, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
        
      <% end %>
      <br>
      <hr>

    </div>
  </div>

  <% elsif product.requested && current_user != nil && current_user.name + " | " + current_user.contact_number == product.requested_by %>

    <div class="product">
    <div class="product-thumb" position="relative">
    <%= link_to image_tag(product.image_url(:thumb), :style => "float:right;vertical-align:middle; border 1px solid #ffffff; max-width:150px; max-height:150px;", :crop => "fill", :transformation => [
      {:crop => "scale"},
      {:effect => "outline:100", :color => "black"}
    ]), product %>
    </div>
    
    <% if product.requested && current_user != nil && product.sold == false %>
        <div class="details-container" style="background-color:lightgreen">

        <h3 class="title"><%= link_to product.title, product %>
        <span class="tag is-medium is-success float-right">
          Requested
        </span>
        </h3>

    <% elsif product.requested && current_user != nil && product.sold == true %>
    <div class="details-container" style="background-color:lightpink">

    <h3 class="title"><%= link_to product.title, product %>
    <span class="tag is-medium is-warning float-right">
      Request void. Product is no longer available
    </span>
    </h3>

    <% else %>
    <div class="details-container">

      <h3 class="title"><%= link_to product.title, product %>
      </h3>
      <% end %>
      

      <% if product.condition? %>
        <div class="condition">
          <p>Condition: <span class="tag is-dark"><%= product.condition %></span>
        </p>
        </div>
      <% end %>

      <p>Sold by <b><%= product.user.name %></b></p>

      <p>Expected Cost to sell: <b>
      <span class="price tag"><%= sprintf("₹%9d", product.cost) %></span>
      </b></p>

      <% if product_author(product) %>
        <br>
        <%= link_to 'Edit', edit_product_path(product), class: "button is-small" %>
        <%= link_to 'Delete', product, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
        
      <% end %>
      <br>
      <hr>

    </div>
  </div>
  <% end %>

  <% end %>
</div>


<br>

<%= link_to 'New Product', new_product_path %> 